#footer {
  color: #fefefe;
}

.sectionTitle,
.sectionTinyIntro {
  text-align: center;
}

.sectionTitle {
  font-weight: 600;
}

.sectionTinyIntro {
  margin-bottom: 2rem;
  color: #585858;
}

.brandLogo {
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.brandContainer {
  display: flex;
  align-items: center;
}

.brandInnerContainer {
  font-size: 0.95rem;
  margin-left: 0.6rem;
  display: flex;
  flex-direction: column;
}

.brandInnerContainer small {
  font-size: 0.7rem;
  font-weight: 600;
}

.navCtaButton {
  padding: 0.3rem 0.8rem;
  margin: 0;
  min-height: 0;
  min-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fefefe;
  font-weight: 600;
  border-radius: 50px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2); 
}

.navCtaButton:hover {
  color: #fefefe;
  box-shadow: none;
}

.headerNavbar {
  box-shadow: 4px 4px 20px -14px rgba(0, 0, 0, 0.4);
}

.navLinkItem {
  font-size: 1rem;
  margin-right: 1rem;
}

#headerHero {
  margin-top: 0;
  padding-top: 0;
}

.headerHeroTitle {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

.headerHeroSubtitle {
  font-size: 1.45rem;
  font-weight: 400;
}

.headerHeroContent {
  color: #585858;
  margin: 1.3rem 0;
}

.about-card {
  background-color: #fefefe;
  padding: 2em;
  min-height: 250px;
  margin: 1rem;
  border: 1.5px solid #ccc;
  border-radius: 5px;
}

.about-card-header-title {
  margin: 1rem 0;
}

.about-card-content {
  color: #585858;
}

.aboutCardLogo {
  font-size: 2em;
}

.techcard {
  margin-bottom: 1rem;
}

.techCardTitle {
  font-size: 1.6rem;
  font-weight: 600;
}

.techCardContent {
  color: #585858;
}

.eventListItem {
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.eventTag {
  margin-left: 10px;
}

.profileCard {
  background-color: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 1.5rem;
}

.profileCardText {
  padding: 0 1rem 2rem 1rem;
  margin-top: 70px;
}

.memberPic {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  min-height: 130px;
}

.memberPic img {
  position: absolute;
  bottom: -65px;
  max-width: 130px;
  border-radius: 50%;
  border: 2px solid #ccc;
  box-shadow: 0px 8px 20px -14px rgba(0, 0, 0, 0.8);
}

.memberName {
  font-weight: 300;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: -5px;
}

.memberPost {
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
}

.memberBio {
  color: #585858;
  text-align: center;
  margin: 2rem 0;
}

.memberSocials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.comBtnGroup {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.comBtn,
.headerHeroBtn {
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.2);
}

.comBtn:hover,
.headerHeroBtn:hover {
  box-shadow: none;
}

.comBtn + .comBtn {
  margin-left: 1rem;
}

#footer h5 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1rem;
}

#footer a {
  color: #f1f1f1;
  margin: -2px 0;
}

#footer ul {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.2;
}

#footer ul li {
  line-height: 1.1;
}

.footerSocialIcons a {
  font-size: 2rem;
}

@media screen and (max-width : 400px) {
  .brandInnerContainer span {
    font-size: 0.85rem;
    font-weight: 600;
  }
  .headerHeroTitle {
    font-size: 2rem;
    line-height: 1.1;
  }
  .headerHeroSubtitle {
    margin-top: 5px;
    font-size: 1.2rem;
  }
  .headerBtnContainer {
    text-align: center;
  }
  .headerHeroContent {
    font-size: 1.05rem;
  }
  .sectionTinyIntro {
    font-size: 1.1rem;
    padding: 0 1rem;
  }
  #footer h5 {
    margin-top: 2rem;
  }
}

@media only screen and (min-width : 720px) {
  .headerHeroSubtitle {
    font-size: 1.8rem;
  }
  .headerHeroContent {
    margin: 1.8rem 0;
    font-size: 1.05rem;
    line-height: 1.5;
  }
}